<nav class="navbar navbar-expand-lg">
    <div class="container-fluid navbar-logo">
        <a class="navbar-brand ml-5" href="/">
            <div class="d-flex">
                <img src="/img/healthIcon.png"alt="Logo" width="30" height="35" class="d-inline-block align-text-top">
                <p class="logo">Grupo 4 - Salud</p>
            </div>
        </a>
    </div>

    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarNav"
        >
        <ul class="navbar-nav">
            <li th:if="${session.usuariosession==null}" class="nav-item">
                <!--DAR LOS PERMISOS PARA QUE PUEDE VER O NO (para la alta del profesional)-->
                <a class="nav-link active" aria-current="page" th:href="@{/login}"
                   ><span class="fs-5 fw-bold">Login</span></a
                >
            </li>

            <li th:if="${session.usuariosession!=null}" class="nav-item"> 

                <a href="/logout" class="nav-link" aria-current="page"
                   ><span class="fs-5 fw-bold">Logout</span></a
                >
            </li>
            <li th:if="${session.usuariosession==null}" class="nav-item">
                <a class="nav-link" th:href="@{registrar}"
                   ><span class="fs-5 fw-bold">Registrate</span></a
                >
            </li>                
            <li class="nav-item">
                <a th:href="@{/perfil/dashboard}" class="nav-link" aria-disabled="true"
                   ><span class="fs-5 fw-bold nombreUsuario" th:if="${session.usuariosession != null and session.usuariosession.tipo.toString() == 'PACIENTE'}" th:text="${session.usuariosession.nombre}"></span></a
                >
            </li>
            <li class="nav-item">
                <a th:href="@{/perfil2/dashboard2}" class="nav-link" aria-disabled="true"
                   ><span class="fs-5 fw-bold nombreUsuario" th:if="${session.usuariosession != null and session.usuariosession.tipo.toString() == 'PROFESIONAL'}" th:text="${session.usuariosession.nombre}"></span></a
                >
            </li>
            <li class="nav-item">
                <a th:href="@{/admin/dashboard}" class="nav-link" aria-disabled="true"
                   ><span class="fs-5 fw-bold nombreUsuario" th:if="${session.usuariosession != null and session.usuariosession.rol.toString() == 'ADMIN'}">ADMIN</span></a
                >
            </li>
                        <li class="nav-item">
                <a th:href="@{/moderador/dashboard}" class="nav-link" aria-disabled="true"
                   ><span class="fs-5 fw-bold nombreUsuario" th:if="${session.usuariosession != null and session.usuariosession.rol.toString() == 'MOD'}">MODERADOR</span></a
                >
            </li>
        </ul>
    </div>
</nav>
