body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-top: 60px; /* Ajustar según la altura de la barra de navegación */
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-body p {
    margin-bottom: 5px;
}

.user-avatar-container {
    size: 100px; /* Ten en cuenta que 'size' no es una propiedad CSS válida para dimensiones. Puedes usar 'width' y 'height'. */
    width: 100px;
    height: 100px;
}

/* Agregar nuevos estilos */
.sidebar {
    background-color: #fff;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}

.sidebar li:hover {
    background-color: #f0f0f0;
}

/* Navbar */
.navbar {
    background-color: #fff; /* Color de fondo de la barra de navegación */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand p {
    margin-bottom: 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f9fa; /* Color de fondo del pie de página */
}