*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body{
    background-color:  #e0e1dd;
;}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #1b263b; 
}

.navbar .nav-link {
  color: #ffffff; /* Cambiar el color del texto a blanco (#ffffff) */
}


.logo{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: bold;
    color: #ffffff;
}
.container-fluid a{
    text-align: center;
    
}
.ml-5 {
    margin-left: 1.5rem !important;
}
#navbarNav{
    font-family: 'Montserrat', sans-serif;
}
nav a:hover{
    text-shadow: 0 0 10px white;
    cursor:pointer;
}
.collapse .navbar-nav .nav-link {
    padding: 6px;
    margin-left: 4px;
    margin-right: 4px;
}

.navbar .nav-link[href*="/login"] .fs-5 {
  color: #ffffff; 
}

.navbar .nav-link.disabled {
    
     color:#6d9efc
    
}

  
  .card {
    width: 50%; /* Ancho máximo de las tarjetas */
    margin: 50px auto; /* Margen exterior y centrado horizontal */
    text-align: center; /* Centrar contenido */
}

.card-img-top {
    width: 20%; /* Reducir el tamaño de la imagen al 50% */
    display: block; /* Mostrar la imagen como bloque */
    margin: 0 auto 15px; /* Centrar horizontalmente y agregar espacio inferior */
}

.card a {
    text-decoration: none; /* Eliminar subrayado de enlace */
    color: inherit; /* Heredar color del texto */
}

.card a:hover {
    text-decoration: none; /* Eliminar subrayado en el hover */
}
  
  .card-title {
    font-size: 1.5rem; /* Tamaño del título */
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 0.5rem; /* Espacio inferior */
  }
  
  .card-text {
    font-size: 1rem; /* Tamaño del texto */
  }
  

  
  .row-cols-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar el contenido */
    gap: 1rem; /* Espacio entre tarjetas */
  }

  .card-link {
    text-decoration: none;
    color: inherit; /* hereda el color del texto */
}
  