<!DOCTYPE html>
<html lang="en">
 <head th:replace= "/fragments/head :: head" ></head>
    <link href="/css/dashboardpaciente.css" rel="stylesheet">   

    <body>
        <header>
            <nav th:replace= "/fragments/navbar :: nav" ></nav>
        </header>

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Menú</h5>
                        <div class="btn-group-vertical">
                             <a th:href="@{/moderador/solicitudes}" class="btn btn-success btn-sm mb-2">Solicitudes</a>
                              <a class="btn btn-warning btn-sm mb-2">Cerrar sesión</a>
                        </div>
                    </div>
                </div>


            <div class="col-md-9">
                <div class="card mb-3">
                    <div class="card-body">
                        <h1 th:if="${session.usuariosession!=null}" th:text="${session.usuariosession.nombre}"></h1>
                        <h1>ADMINISTRADOR</h1>
                            <div class="col-md-6">
                                <div class="user-avatar-container">
                                    <img th:src="@{/imagen/profesional/__${session.usuariosession.id}__}" class="card-img-top" alt="Foto de Profesional">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <footer th:replace="/fragments/footer :: footer"></footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
