<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
    <head th:replace= "/fragments/head :: head" ></head>
    <link href="/css/index.css" rel="stylesheet">   

    <body>
        <header>
            <nav th:replace= "/fragments/navbar :: nav" ></nav>
        </header>

     <div class="container-fluid" id="size">
    <img class="img-fluid" src="/img/heroMain.jpg" alt="hero" />
    <div class="text-overlay">
                            <div class="text">Tu bienestar,nuestra prioridad.</div>
        </div>                      
     </div>
      <br>
      
      <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pediatría</h5>
                    <p class="card-text">
                        La pediatría es la rama de la medicina que se especializa en la atención de los niños, desde recién nacidos hasta adolescentes. Los pediatras están capacitados para tratar una amplia gama de problemas de salud infantil que suelen aparecer durante esos períodos.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cardiología</h5>
                    <p class="card-text">
                        La cardiología se enfoca en el diagnóstico y tratamiento de enfermedades relacionadas con el corazón y los vasos sanguíneos. Los cardiólogos pueden tratar afecciones como enfermedades del corazón, hipertensión arterial, entre otras.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ginecología</h5>
                    <p class="card-text">
                        La ginecología se centra en la salud reproductiva de las mujeres. Los ginecólogos pueden diagnosticar y tratar afecciones ginecológicas, realizar exámenes de detección y brindar atención médica relacionada con la salud sexual y reproductiva.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Clínica Médica</h5>
                    <p class="card-text">
                        La clínica médica es una especialidad que se enfoca en el diagnóstico y manejo de enfermedades en adultos. Los médicos de esta especialidad brindan atención integral y coordinan el cuidado de pacientes con diversas condiciones de salud.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
      <br>
      
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div th:each="profesional, iterStat : ${profesionales}" class="carousel-item" th:classappend="${iterStat.index == 0} ? 'active'">
            <div class="row justify-content-center">
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img th:src="@{/imagen/profesional/__${profesional.id}__}" class="card-img-top" alt="Foto de Profesional">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${profesional.nombre}"></h5>
                            <p class="card-text" th:text="${profesional.especialidad}"></p>
                            <p class="card-text" th:if="${profesional.bio ==null}">Este profesional no tiene una biografía aún.</p>
                            <p class="card-text" th:text="${profesional.bio}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>


                    <footer th:replace="/fragments/footer :: footer"></footer>

                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
                    </body>
                    </html>