<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
       
    <head th:replace= "/fragments/head :: head" ></head>

    <body>
        <header>
            
            <nav th:replace= "/fragments/navbar :: nav" ></nav>
            
        </header>

        <div class="container-fluid" id="size">
            <img class="img-fluid" src="/img/heroMain.jpg" alt="hero" />
            <form class="buscar">
                <input type="text" placeholder="Buscar Profesional">
                <button type="submit" class="boton">
                    <i class="bi bi-search"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg></i>
                </button>
            </form>
        </div>
        
        <div class="title">
            <h1>NUESTROS PROFESIONALES<h1>
        </div>
        
        <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card mb-3">
                                   
                        <div class="card">
                            <img
                                src="/img/doctorImgGeneric.jpg"
                                class="card-img-top"
                                alt="img"
                                />
                            <div class="card-body">
                                <h5 class="card-title">Nombre Profesional</h5>
                                <p class="card-text">
                                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat.
                                </p>
                                <button type="submit" class="btn btn-primary">Contactar</button>
                            </div>
                        </div>
              
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3">
                                        <div class="card">
                            <img
                                src="/img/doctorImgGeneric.jpg"
                                class="card-img-top"
                                alt="img"
                                />
                            <div class="card-body">
                                <h5 class="card-title">Nombre Profesional</h5>
                                <p class="card-text">
                                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat.
                                </p>
                                <button type="submit" class="btn btn-primary">Contactar</button>
                            </div>
                        </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3">
                                        <div class="card" >
                            <img
                                src="/img/doctorImgGeneric.jpg"
                                class="card-img-top"
                                alt="img"
                                />
                            <div class="card-body">
                                <h5 class="card-title">Nombre Profesional</h5>
                                <p class="card-text">
                                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat.
                                </p>
                                <button type="submit" class="btn btn-primary">Contactar</button>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>
        
                    <footer th:replace="/fragments/footer :: footer"></footer>

                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
                    </body>
                    </html>