<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELLO HEALTH</title>
    
    <link href="/css/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" src="/img/healthIcon.png" type="image/png">
</head>
<body>
   <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand ml-5" href="#">
            <div class="d-flex">
              <p class="logo">Hello<br />Health</p>
              <img src="/img/healthIcon.png" alt="Descripción de la imagen" class="img"/>
            </div>
          </a>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
 
            <li class="nav-item">
              <a class="nav-link" href="#profesionales"
                ><span class="fs-5 fw-bold">Contactanos</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true"
                ><span class="fs-5 fw-bold">Admin</span></a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container-fluid" id="size">
      <img class="img-fluid" src="/img/heroMain.jpg" alt="hero" />
    </div>
    
    <section class="row" id="profesionales">
        <div class="section-title">
            <h1>NUESTROS PROFESIONALES</h4>
        </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem">
                        <img
                          src="/img/doctorImgGeneric.jpg"
                          class="card-img-top"
                          alt="img"
                        />
                        <div class="card-body">
                          <h5 class="card-title">Nombre Profesional</h5>
                          <p class="card-text">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat.
                          </p>
                          <button type="submit" class="btn btn-primary">CONTACTAR</button>
                        </div>
                      </div>
            </div>
            <div class="col-md-3">
                    <div class="card" style="width: 18rem">
                        <img
                          src="/img/doctorImgGeneric.jpg"
                          class="card-img-top"
                          alt="img"
                        />
                        <div class="card-body">
                          <h5 class="card-title">Nombre Profesional</h5>
                          <p class="card-text">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat.
                          </p>
                          <button type="submit" class="btn btn-primary">CONTACTAR</button>
                        </div>
                      </div>
            </div>
            <div class="col-md-3">
                    <div class="card" style="width: 18rem">
                        <img
                          src="/img/doctorImgGeneric.jpg"
                          class="card-img-top"
                          alt="img"
                        />
                        <div class="card-body">
                          <h5 class="card-title">Nombre Profesional</h5>
                          <p class="card-text">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat.
                          </p>
                          <button type="submit" class="btn btn-primary">CONTACTAR</button>
                        </div>
                </div>
            </div>
            <div class="col-md-3">
                    <div class="card" style="width: 18rem">
                        <img
                          src="/img/doctorImgGeneric.jpg"
                          class="card-img-top"
                          alt="img"
                        />
                        <div class="card-body">
                          <h5 class="card-title">Nombre Profesional</h5>
                          <p class="card-text">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat.
                          </p>
                          <button type="submit" class="btn btn-primary">CONTACTAR</button>
                        </div>
                      </div>
            </div>
    </section>
    <footer>
      <div class="contenedor-footer">
        <div class="m-2">
          <p>2023</p>
        </div>
        <div class="m-3">
          <p>&copy;HELLO HEALTH ⚕️</p>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>