<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/formulario.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Salud</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/registrar">Registrate</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid m-5 contenedor">
    <form class="formulario" th:action="@{/login}" method="POST">
        <div class="form-group my-3">
            <h3 class="card-title">Iniciar Sesión</h3>
        </div>

        <div class="form-group my-3">
            <input type="email" class="form-control" name="email" placeholder="Correo Electrónico" required>
        </div>

        <div class="form-group my-3">
            <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
        </div>

        <button type="submit" class="btn btn-primary mt-3 botones">Ingresar</button>
    </form>

    <section class="text-center container">
        <div class="row mt-3">
            <div class="divVolver">
                <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
            </div>
        </div>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
