<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Turnos Médicos</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/login.css" rel="stylesheet">

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Salud</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Busqueda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid m-5 contenedor">
            <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError" >
                <div class="card-body">
                    <h5 class="card-title">Error!</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
            <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                <div class="card-body">
                    <h5 class="card-title">Exito!</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>

            <form class="formulario" th:action="@{/logincheck}" method="POST">


                <div class="form-group my-3">
                    <h3 class="card-title">Accede a SaludWebApp!</h3>
                </div>

                <div class="form-group my-3">
                    <input type="email" class="form-control" name="email" placeholder="EMAIL">
                </div>

                <div class="form-group my-3">
                    <input type="password" class="form-control" name="password" placeholder="CONTRASEÑA">
                </div>


                <button type="submit" class="btn btn-primary mt-3 botones">Ingresar!</button>
            </form>
            <div class="col-md-12 text-center mt-5">
                <a th:href="@{registrar}"><button type="button" class="btn btn-info">Registrar</button></a>
            </div>
            <section class=" text-center container">
                <div class="row mt-3">
                    <div class="divVolver">
                        <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                    </div>
                </div>
            </section>

            <!--    <div class="container d-flex justify-content-center align-items-center vh-100">
                    <div class="login-container">
                        <form>
                            <div class="mb-3 text-center">
                                <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>
                            </div>
                            <div class="mb-3">
                                <label for="inputEmail" class="form-label">Correo Electrónico</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
                            </div>
                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                            </div>
                        </form>
            
                        <div class="registro-cont">
                        <p><span>Aún no estas registrado?</span><a href="registrar" class="link-primary"> Registrate </a></p> 
                       </div>
            
                    </div>-->
        </div>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>