<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turnos Médicos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/src/main/resources/static/registrarprofesional.css" rel="stylesheet">
</head>

<body>
 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">Salud</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="login.html">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Busqueda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Admin</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="container">
    <form class="row g-3">
        <div class="col-md-6">
            <label for="validationDefault01" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="validationDefault01" value="Ingrese su nombre" required>
        </div>
        <div class="col-md-6">
            <label for="validationDefault02" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="validationDefault02" value="Ingrese su apellido" required>
        </div>
        <div class="col-md-6">
            <label for="validationDefault03" class="form-label">DNI</label>
            <input type="text" class="form-control" id="validationDefault03" required>
        </div>
        <div class="col-md-6">
            <label for="validationDefault04" class="form-label">Número de Matrícula</label>
            <input type="text" class="form-control" id="validationDefault04" required>
        </div>
        <div class="col-md-6">
            <label for="validationDefault05" class="form-label">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="validationDefault05" required>
        </div>

        <div class="col-md-6">
          <label for="validationDefault10" class="form-label">Correo electrónico</label>
          <input type="email" class="form-control" id="validationDefault10" placeholder="nombre@ejemplo.com" required>
      </div>

        <div class="col-md-6">
            <label for="validationDefault06" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="validationDefault06" required>
        </div>
        <div class="col-md-6">
            <label for="validationDefault07" class="form-label">Confirmar Contraseña</label>
            <input type="password" class="form-control" id="validationDefault07" required>
        </div>
        <div class="col-md-6">
            <label for="validationDefault08" class="form-label">Género</label>
            <select class="form-select" aria-label="Default select example" id="validationDefault08">
                <option selected>...</option>
                <option value="1">Femenino</option>
                <option value="2">Masculino</option>
                <option value="3">Otro</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="validationDefault09" class="form-label">Atiende de manera virtual?</label>
            <select class="form-select" aria-label="Default select example" id="validationDefault09">
                <option selected>...</option>
                <option value="1">Sí</option>
                <option value="2">No</option>
            </select>
        </div>
        
        <div class="col-12">

          <div class="col-md-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                <label class="form-check-label" for="invalidCheck2">
                    Acepto los términos y condiciones
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary" type="submit">Registrarse</button>
        </div>
    </form>
</div>
   
  



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>