<html lang="en">
 <head th:replace= "/fragments/head :: head" ></head>
    <link href="/css/index.css" rel="stylesheet">   

    <body>
        <header>
            <nav th:replace= "/fragments/navbar :: nav" ></nav>
        </header>
        
        <!-- Requiero de cami -->
        <div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <form class="mb-3">
                <div class="form-group">
                    <label for="calificacion">Selecciona calificación:</label>
                    <select id="especialidad" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>          
                    </select>
                </div>
        </div>
    </div>
    </div>
                    
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <form class="mb-3">
                <div class="form-group">
                    <label for="calificacion">Seleccione rango de precios:</label>
                    <select id="especialidad" class="form-control">
                        <option>$ 0 - $1000</option>
                        <option>$1000 - $2000</option>
                        <option>$2000 - $3000</option>
                        <option>$3000 - $4000</option>          
                    </select>
                </div>
        </div>
    </div>
</div>    
        <br>
    <div class="card">
    <div class="card-body">
        <h5 class="card-title">Nuestro equipo de profesionales</h5>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Especialidad</th>
                         <th>Matricula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                         <th>Atención Virtual</th>
                        <th>Prestadores</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="profesional: ${Profesionales}">
                        <td th:text="${profesional.especialidad}"></td>
                        <td th:text="${profesional.matricula}"></td>
                        <td th:text="${profesional.nombre}"></td>
                        <td th:text="${profesional.apellido}"></td>
                        <td th:text="${profesional.atencionVirtual}"></td>
                        <td th:text="${profesional.prestadores}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
 
    <footer th:replace="/fragments/footer :: footer"></footer>

    <!-- Scripts de Popper.js y Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>