<!DOCTYPE html>
<html lang="en">
<head th:replace= "/fragments/head :: head" ></head>
    <link href="/css/dashboardpaciente.css" rel="stylesheet">   

    <body>
        <header>
            <nav th:replace= "/fragments/navbar :: nav" ></nav>
        </header>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Citas Programadas</h5>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Paciente</th>
                                        <!-- Otros encabezados -->
                                    </tr>
                                </thead>
                                <tbody  th:each="turno:${turnosTomados}">
                                    <tr>
                                        <td th:text="${turno.fechaHora}"></td>
                                        <!--     <td th:text="${turno.paciente.nombre}"></td>-->
                                        <td>
                                            <a th:href="@{'/fichamedica/paciente/' + ${turno.paciente.id}}">
                                                <span th:text="${turno.paciente.nombre}"></span>
                                            </a>
                                        </td>
                                <form th:action="@{/turnos/cancelar-profesional}" th:method="post">
                                    <td>
                                        <input type="hidden" th:name="idTurno" th:value="${turno.id}">
                                        <button type="submit">Cancelar</button>
                                    </td>
                                </form>
                                <form th:action="@{/turnos/modificar-profesional}" th:method="post">
                                    <td>
                                        <input type="hidden" th:name="idTurno" th:value="${turno.id}">
                                        <button type="submit">Modificar</button>
                                    </td>
                                </form>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            </div>

 
    <footer th:replace="/fragments/footer :: footer"></footer>
